<nav class="navbar navbar-expand-lg navbar-custom">
    <div class="container-fluid">
        
      <a routerLink=''>
      <img src="logo_matik_autorent.png" alt="home" class="logo-image">
      </a>
      <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="reservas">Reservar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="ayuda">Ayuda</a>
          </li>
        </ul>

        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="search btn text-white" type="submit">Search</button>
        </form>

        <app-sesion></app-sesion>
        
      </div>
    </div>
  </nav>