<nav class="navbar navbar-expand-lg navbar-custom">
    <div class="container-fluid">
        
      <a routerLink=''>
      <img src="logo_matik_autorent.png" alt="home" class="logo-image">
      </a>
      <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent" #navbarCollapse>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a class="nav-link text-white" routerLink="#" >English</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" routerLink="flota">Flota</a>
        </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="reservas">Reservas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="ayuda">Ayuda</a>
          </li>
        </ul>


        <app-sesion></app-sesion>
        
      </div>
    </div>
  </nav>