.hero {
    background-image: url('/public/logo_matik_autorent.png'); /* Cambia 'imagen.jpg' por la ruta de tu imagen */
    background-size: cover;
    background-position: center;
    height: 100vh; /* Altura de la sección */
  }
  
  
  h2 {
    color: #FF7043;
  }

  h1 #ap {
    color: #0077A7;
  }

  div {
    font-family: Arial, sans-serif;
  }

  div #ap {
    line-height: 1.6; 
    margin: 40px;
  }