<div class="container-fluid p-0">
    <div class="hero position-relative text-center">
      <div class="hero-text position-absolute top-50 start-50 translate-middle bg-dark bg-opacity-50 p-3 rounded text-white">
        <h1 class="display-4">Aviso de Privacidad</h1>
      </div>
      </div>

      <div id="ap">
        <h1>Política de Privacidad</h1>
        <p><strong>ELABORADO POR MATIK AUTORENT PARA LA PROTECCIÓN DE LOS DATOS PERSONALES DE SUS CLIENTES</strong></p>
        <p>
          Matik Autorent, informa que, en cumplimiento con la Ley Federal de Protección de Datos Personales en Posesión de los Particulares (en adelante, la "Ley"), es responsable del manejo, uso y protección de sus datos personales. Por ello, aseguramos que la información de nuestros clientes será tratada con estricta confidencialidad. La entrega de sus datos personales constituye su aceptación a los términos de este aviso de privacidad.
        </p>
      
        <h2>Finalidades del Tratamiento de Datos Personales:</h2>
        <p>Los datos personales que recabamos serán utilizados para los siguientes fines necesarios para los servicios que solicita:</p>
        <ul>
          <li>Elaboración de contratos para la renta o compra de vehículos.</li>
          <li>Identificación de clientes, seguimiento y actualización de datos.</li>
          <li>Evaluaciones de calidad y estudios sobre hábitos de consumo.</li>
          <li>Gestión de promociones, opciones financieras y cobranza.</li>
          <li>Actividades relacionadas con los servicios proporcionados y la presente política de privacidad.</li>
        </ul>
      
        <h2>Tipos de Datos Personales Tratados:</h2>
        <p>
          Para cumplir con las finalidades mencionadas, podemos solicitar datos de identificación, tales como nombre, apellidos, género, fecha de nacimiento, dirección, CURP, teléfono fijo y móvil, correo electrónico, así como datos patrimoniales o financieros. Además, para garantizar la seguridad en nuestras instalaciones, podríamos utilizar cámaras de videovigilancia que capten imagen y sonido.
        </p>
      
        <h2>Transferencia de Datos Personales:</h2>
        <p>
          Conforme al artículo 37 fracción III de la Ley, sus datos personales no serán compartidos con terceros sin su consentimiento, salvo en los siguientes casos:
        </p>
        <ul>
          <li>Con empresas de nuestro grupo corporativo.</li>
          <li>Para cumplir con requerimientos legales de autoridades competentes debidamente fundamentados.</li>
        </ul>
      
        <h2>Derechos ARCO (Acceso, Rectificación, Cancelación y Oposición):</h2>
        <p>
          Usted tiene derecho a acceder a la información que tenemos sobre usted, solicitar su corrección si es incorrecta, desactualizada o incompleta, pedir su eliminación cuando considere que no es necesaria para nuestras actividades, y oponerse al uso de sus datos para fines específicos.
        </p>
        <p>
          Para ejercer sus derechos ARCO, puede enviar una solicitud al área de protección de datos personales a través del correo electrónico <a href="mailto:contacto@matikautorent.com">contactomatikautorent.com</a> o accediendo a nuestra plataforma en <em>[URL específica de Matik Autorent]</em>. En su solicitud, debe incluir:
        </p>
        <ul>
          <li>Nombre completo.</li>
          <li>Copia de una identificación oficial (o una versión escaneada en caso de hacerlo por medios electrónicos).</li>
          <li>Dirección de correo electrónico o física para notificaciones.</li>
          <li>Un número telefónico de contacto.</li>
        </ul>
        <p>
          Daremos respuesta a su solicitud en un plazo máximo de 20 días hábiles, notificándole sobre la procedencia o no de su solicitud. Si la respuesta es enviada por correo postal, el plazo se considerará cumplido al momento de entregar la respuesta al servicio postal correspondiente.
        </p>
      
        <h2 >Modificaciones al Aviso de Privacidad:</h2>
        <p>
          Nos reservamos el derecho de realizar cambios o actualizaciones a esta política de privacidad en cualquier momento, para atender modificaciones legislativas, políticas internas o nuevos requerimientos para la prestación de nuestros servicios. Cualquier actualización será publicada en nuestra página web o enviada por correo electrónico.
        </p>
        <p><strong>Fecha de última modificación: [Nov/2024]</strong></p>
      
        <p>
          Matik Autorent considerará que el presente aviso ha sido leído y aceptado en caso de que no reciba oposición expresa o cuando se utilicen nuestros servicios y se proporcionen datos personales de manera voluntaria.
        </p>
      </div>
      