<div class="container py-4">
    <div class="card p-4" style="background-color: #005bac; color: white; border-radius: 10px;">
      <div class="row">
        <div class="col-12">
          <h2 class="text-white">Make a reservation</h2>
          <p class="text-white-50">*required</p>
          <a href="#" class="text-warning float-end" style="font-size: 14px;">view or cancel my reservation</a>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6 mb-3">
          <label class="form-label">Date of pick up*</label>
          <input type="date" class="form-control">
        </div>
        <div class="col-md-6 mb-3">
          <label class="form-label">Hour*</label>
          <select class="form-select">
            <option selected disabled>select an hour</option>
            <option>00:00 AM</option>
            <option>01:00 AM</option>
            <option>02:00 AM</option>
            <option>03:00 AM</option>
            <option>04:00 AM</option>
            <option>05:00 AM</option>
            <option>06:00 AM</option>
            <option>07:00 AM</option>
            <option>08:00 AM</option>
            <option>09:00 AM</option>
            <option>10:00 AM</option>
            <option>11:00 AM</option>
            <option>12:00 PM</option>
            <option>01:00 PM</option>
            <option>02:00 PM</option>
            <option>03:00 PM</option>
            <option>04:00 PM</option>
            <option>05:00 PM</option>
            <option>06:00 PM</option>
            <option>07:00 PM</option>
            <option>08:00 PM</option>
            <option>09:00 PM</option>
            <option>10:00 PM</option>
            <option>11:00 PM</option>
          </select>
        </div>
        <div class="col-md-6 mb-3">
          <label class="form-label">Date of drop off*</label>
          <input type="date" class="form-control">
        </div>
        <div class="col-md-6 mb-3">
          <label class="form-label">Hour*</label>
          <select class="form-select">
            <option selected disabled>select an hour</option>
            <option>00:00 AM</option>
            <option>01:00 AM</option>
            <option>02:00 AM</option>
            <option>03:00 AM</option>
            <option>04:00 AM</option>
            <option>05:00 AM</option>
            <option>06:00 AM</option>
            <option>07:00 AM</option>
            <option>08:00 AM</option>
            <option>09:00 AM</option>
            <option>10:00 AM</option>
            <option>11:00 AM</option>
            <option>12:00 PM</option>
            <option>01:00 PM</option>
            <option>02:00 PM</option>
            <option>03:00 PM</option>
            <option>04:00 PM</option>
            <option>05:00 PM</option>
            <option>06:00 PM</option>
            <option>07:00 PM</option>
            <option>08:00 PM</option>
            <option>09:00 PM</option>
            <option>10:00 PM</option>
            <option>11:00 PM</option>
          </select>
        </div>
        <div class="col-md-6 mb-3">
          <label class="form-label">Discount Code</label>
          <input type="text" class="form-control" placeholder="Ingresa tu código">
        </div>
        <div class="col-md-6 mb-3">
          <label class="form-label">age</label>
          <select class="form-select">
            <option>18+</option>
            <option>25+</option>
            <option>35+</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <button class="btn btn-warning text-dark w-100">search</button>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-12 text-center">
          <p class="text-white">
            Look at our options<a href="#" class="text-warning text-decoration-none">companies</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  
