<!-- Sección de Dudas sobre reserva -->
<div class="container my-5">
    <div class="help-section bg-info text-center text-white py-5 mb-3">
      <h3>Reserve faq</h3>
      <p>Do you have a question on how to make a reservation? Here you will find those answers and more.</p>
      <ul>
        <li>How do i reserve a vehicle?</li>
        <li>could i update my reservation?</li>
        <li>Which are the payment methods?</li>
      </ul>
    </div>
  
    <!-- Sección de Preguntas frecuentes -->
    <div class="help-section bg-pink text-center text-white py-5 mb-3">
      <h3>Recent questions</h3>
      <p>Find answers obout our policies and services.</p>
      <ul>
        <li>How much do i pay for the rent?</li>
        <li>what does include my rent with my vehicle?</li>
        <li>what do i have to do in case of an accident?</li>
      </ul>
    </div>
  
    <!-- Sección de Aclaraciones y devoluciones -->
    <div class="help-section bg-success text-center text-white py-5 mb-3">
      <h3>Refunds and clarifications</h3>
      <p>if you need to do a refund or a claritication, check the available options.</p>
      <ul>
        <li>which is the procedure for a cancelation and my refunds?</li>
        <li>how do i make a refund?</li>
        <li>what can i do if i am not satisfied with my service?</li>
      </ul>
    </div>
  
    <!-- Sección de Seguimiento de solicitud -->
    <div class="help-section bg-primary text-center text-white py-5">
      <h3>Follow request</h3>
      <p>follow the statement of your request and recive an update on real time.</p>
      <ul>
        <li>How do i verify the statement of my request?</li>
        <li>how much time does this request to be aproved?</li>
        <li>how do i recieve updates of my request?</li>
      </ul>
    </div>
  </div>