<div class="container py-4">
    <div class="row">
      <!-- Columna del Formulario de Reservas -->
      <div class="col-md-6">
        <div class="card p-4 form-reservas">
          <h2 class="text-center mb-4">Hacer una Reserva</h2>
          <form (ngSubmit)="realizarReserva()">
            <div class="mb-3">
              <label for="fechaEntrega" class="form-label">Fecha de Entrega*</label>
              <input
                type="date"
                id="fechaEntrega"
                class="form-control"
                [(ngModel)]="reserva.fechaEntrega"
                name="fechaEntrega"
                [min]="minDate"
                required
              />
            </div>
            <div class="mb-3">
              <label for="fechaRegreso" class="form-label">Fecha de Regreso*</label>
              <input
                type="date"
                id="fechaRegreso"
                class="form-control"
                [(ngModel)]="reserva.fechaRegreso"
                name="fechaRegreso"
                [min]="reserva.fechaEntrega || minDate"
                required
              />
            </div>
            <div class="mb-3">
              <label for="vehiculo" class="form-label">Vehículo Seleccionado</label>
              <input
                type="text"
                id="vehiculo"
                class="form-control"
                [value]="vehiculoSeleccionado ? vehiculoSeleccionado.Model + ' ' + vehiculoSeleccionado.model + ' ' + vehiculoSeleccionado.year : 'Seleccione un vehículo'"
                disabled
              />
            </div>            
            <button type="submit" class="btn w-100">Confirmar Reserva</button>
          </form>
        </div>
      </div>
  
      <!-- Columna de Vehículos Disponibles -->
      <div class="col-md-6">
        <h2 class="text-center text-success mb-4">Vehículos Disponibles</h2>
        <div class="row g-3">
          <div class="col-6 col-sm-4" *ngFor="let vehiculo of vehiculos">
            <div class="card">
              <img [src]="vehiculo.image" class="card-img-top" alt="{{ vehiculo.image }}" />
              <div class="card-body text-center">
                <h6 class="card-title text-truncate">{{ vehiculo.brand }}</h6>
                <p class="card-text small">
                  <strong>Marca:</strong> {{ vehiculo.model }} <br>
                  <strong>Precio Dia:</strong> {{ '$' + vehiculo.price_day +'.00'}}
                </p>
                <button
                  class="btn btn-primary btn-sm w-100"
                  (click)="seleccionarVehiculo(vehiculo)"
                >
                  Seleccionar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  