<div>
    <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://via.placeholder.com/2000x600" class="d-block w-100" alt="promociones1">
          </div>
          <div class="carousel-item">
            <img src="https://via.placeholder.com/2000x600" class="d-block w-100" alt="promociones2">
          </div>
          <div class="carousel-item">
            <img src="https://via.placeholder.com/2000x600" class="d-block w-100" alt="promociones3">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    
    
    <h1>Matikautorent: your assure partner.</h1>
    
    <p>In Matikautorent, our first priority is security.All our vehicles are thoroughly inspected before each rental to ensure they are in perfect condition. In addition, we have a wide range of insurance so you can travel with complete peace of mind.
    
        Our website is designed with the highest security standards to protect your personal and financial data. We use state-of-the-art encryption technology and have fraud protection systems.</p>
    
    <div class="container-wrapper">
      <div class="container">
          <h3>Why us?</h3>
          <p>
            Ease and speed: Simple and secure online booking process.
            Flexibility: Different rental options (hourly, daily, weekly), without long-term contracts.
            Variety of vehicles: From economical cars to trucks, to adapt to all needs.
            Convenient location: Indicates the exact address and hours of operation.
            Security: Guarantee that the vehicles are in excellent condition and have insurance.
            Competitive pricing: Highlight your best offers and promotions.</p>
      </div>
    
      <div class="container">
          <h3>Our services</h3>
          <p>
            Rent by the hour: Ideal for short transfers or special events.
            Rental by the day: Perfect for short trips or weekends.
            Rent by the week: Economic option for longer stays.
            Extras: Offers additional services such as GPS, baby seats, etc.
            Return: Explain the return process and conditions

.</p>
      </div>
    
      <div class="container">
          <h3>Cars</h3>
          <p>Flota de Vehículos
            Image Gallery: Displays high-quality photos of each vehicle, including details such as the interior, exterior, and key features.
            Technical specifications: Indicates the model, year, mileage, fuel type, passenger capacity, etc.
            Prices: Shows a comparative table with the prices of each vehicle and the different rental plans.</p> </div>
    </div>
    
    <section class="featured-cars">
      <h2>favorite cars</h2>
      <div class="car-grid">
        <div class="car">
          <img src="https://via.placeholder.com/300x200" alt="Auto 1">
          <div class="car-info">
            <h3>Automovile 1</h3>
            <p>Make and Model</p>
            <p class="price">$50/day</p>
            <button class="btn-book" routerLink="/reservas-english">Rent</button>
          </div>
        </div>
        <div class="car">
          <img src="https://via.placeholder.com/300x200" alt="Auto 2">
          <div class="car-info">
            <h3>Automovile 2</h3>
            <p>Make and model</p>
            <p class="price">$60/day</p>
            <button class="btn-book"routerLink="/reservas-english">Rent</button>
          </div>
        </div>
        <div class="car">
          <img src="https://via.placeholder.com/300x200" alt="Auto 3">
          <div class="car-info">
            <h3>Automovile 3</h3>
            <p>Make and model</p>
            <p class="price">$70/day</p>
            <button class="btn-book" routerLink="/reservas-english">Rent</button>
          </div>
        </div>
        <div class="car">
          <img src="https://via.placeholder.com/300x200" alt="Auto 4">
          <div class="car-info">
            <h3>Automovile 4</h3>
            <p>Make and model</p>
            <p class="price">$80/day</p>
            <button class="btn-book">Rent</button>
          </div>
        </div>
      </div>
    </section>
    