<div class="usuarios-container">
  <h1 class="titulo">Usuarios Registrados</h1>
  <table class="tabla">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Correo</th>
        <th>Teléfono</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuarios">
        <td>{{ usuario.id }}</td>
        <td>{{ usuario.name }}</td>
        <td>{{ usuario.lastName }}</td>
        <td>{{ usuario.email }}</td>
        
        <td>
          <button class="btn-editar" (click)="editarUsuario(usuario)">Editar</button>
          <button class="btn-eliminar" (click)="eliminarUsuario(usuario.id)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Formulario para agregar/editar usuarios -->
  <form (ngSubmit)="guardarUsuario()">
    <input type="text" [(ngModel)]="usuarioSeleccionado.name" placeholder="Nombre" name="name" required />
    <input type="text" [(ngModel)]="usuarioSeleccionado.email" placeholder="Apellido" name="Apellido" required />
    <input type="text" [(ngModel)]="usuarioSeleccionado.telefono" placeholder="Correo" name="email" />
    <button type="submit">{{ usuarioSeleccionado.id ? 'Actualizar' : 'Agregar' }}</button>
  </form>
</div>
