body {
  background-color: #f5f5f5;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 20px;
}

.card {
  background-color: white;
  border-radius: 8px;
  border: 2px solid #ddd; /* Borde sólido de color gris claro */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s;
  margin-bottom: 30px; /* Agregado margen inferior entre las tarjetas */
  padding-bottom: 15px; /* Espacio inferior adicional en la tarjeta */
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-color: #dc3545; /* Cambio de color de borde al pasar el mouse */
}

.img-thumbnail {
  width: 100%;
  object-fit: contain;

}

.list-unstyled {
  padding: 15px;
}

.card-title {
    font-size: 1.25rem;
  font-weight: 600;
  margin: 0 0 5px 0;
  color: #333;
}