<body>
<div class="container mt-5">
    <div class="row">
      <div class="col-md-4" *ngFor="let car of cars">
        <div class="card shadow-sm">
          <img [src]="car.image" class="img-thumbnail" alt="{{ car.image }}">
          <div class="card-body">
            <h5 class="card-title">{{ car.model }}</h5>
            <ul class="list-unstyled mb-3">
              <li><strong>Marca:</strong> {{ car.brand }}</li>
              <li><strong>Año:</strong> {{ car.year }}</li>
              <li><strong>Color:</strong> {{ car.color }}</li>
              <li><strong>Transmisión:</strong> {{ car.mileage + ' Km' }}</li>
              <li><strong>Precio Día:</strong> {{ car.price_day | currency }}</li>
              <li><strong>Aire acondicionado:</strong> {{ 'Sí' }}</li>
            </ul>
            <button class="btn btn-danger w-100 mb-2">RESERVAR</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>