.hero {
    background-image: url('https://via.placeholder.com/2000x600'); /* Cambia 'imagen.jpg' por la ruta de tu imagen */
    background-size: cover;
    background-position: center;
    height: 100vh; /* Altura de la sección */
  }
  