<div class="container-fluid p-0">
    <div class="hero position-relative text-center">
      <div class="hero-text position-absolute top-50 start-50 translate-middle bg-dark bg-opacity-50 p-3 rounded text-white">
        <h1 class="display-4">Conoce nuestros</h1>
        <p class="fs-5">Términos y Condiciones</p>
      </div>

      </div>
      <div>
        <p>
          <h1>Términos y Condiciones de Matik Autorent</h1>
              <p> los precios indicados incluyen el IVA.
              
              El monto estimado del alquiler se basa en la información proporcionada en el momento de realizar su reserva. Para recoger el vehículo, el conductor deberá presentar una tarjeta de crédito válida con suficiente saldo disponible, una licencia de conducir vigente y una identificación oficial. Al confirmar su reserva, será necesario firmar el contrato de arrendamiento y dejar un depósito con cargo a su tarjeta de crédito como garantía del cumplimiento de todas las condiciones establecidas en el contrato.
              
              Servicios adicionales, como recarga de combustible, seguros adicionales (por ejemplo, LDW), sillas para bebés, entre otros, están disponibles para su elección en el momento del alquiler. Consulte con nuestros representantes para obtener más detalles sobre estos servicios.
              
              Si desea añadir un conductor adicional, dicha persona deberá estar presente al momento de la firma del contrato. Además, deberá ser mayor de edad (aplican cargos si tiene menos de 25 años), contar con licencia vigente y presentar una identificación oficial para ser registrado como conductor autorizado.
              
              La edad mínima para alquilar o manejar uno de nuestros vehículos es de 18 años. Se aplicará un cargo adicional si el conductor tiene entre 18 y 24 años. En caso de devolver el vehículo después de la hora acordada en la reserva, se aplicarán cargos extras según la tarifa vigente por el tiempo adicional.
              
              El alquiler mínimo es de un día.
              
              El costo de la reserva incluye los servicios especificados en el documento de confirmación, así como una cobertura básica de responsabilidad civil por daños a terceros de hasta $700,000.00 (moneda nacional), además de cuotas locales e IVA. Los servicios y coberturas no mencionados explícitamente en su reservación tendrán un costo adicional de acuerdo con las tarifas vigentes en la sucursal correspondiente. Algunas coberturas tienen deducibles y límites aplicables.
              
              La reserva especifica el lugar de recogida y devolución del vehículo. Si el cliente decide entregar el vehículo en una sucursal diferente, se podrían aplicar cargos adicionales. El vehículo no podrá salir de los límites del territorio nacional sin el consentimiento previo de Matik Autorent. Para viajar a los Estados Unidos, se deberá obtener una autorización y contratar una cobertura especial al firmar el contrato. Queda estrictamente prohibido cruzar las fronteras del sur (por ejemplo, Guatemala o Belice).
              
              El pago con tarjeta de débito solo se aceptará en oficinas ubicadas en aeropuertos y cuando el cliente llegue en un vuelo el mismo día de la apertura del contrato. Para esta modalidad, será necesario presentar el pase de abordar y el boleto de regreso. Se aplicarán condiciones adicionales en estos casos.
              
              En Matik Autorent, somos pet-friendly. Si viaja con mascotas, puede reservar un Pet Kit en nuestras sucursales habilitadas. Tenga en cuenta que, al devolver el vehículo, debe entregarlo limpio; de lo contrario, se aplicará una tarifa adicional por limpieza profunda.</p>
              
              Derechos y Responsabilidades de las Partes
              Las partes contratantes acuerdan respetar las condiciones de este contrato, asumiendo las siguientes obligaciones:
              
              <h3>Obligaciones de Matik Autorent:</h3>
              <p>Entregar el vehículo en condiciones óptimas de funcionamiento, con combustible suficiente para iniciar el viaje.
              Recibir el vehículo con el mismo nivel de combustible que se entregó.
              Reembolsar el depósito de garantía según los términos estipulados en el contrato.
              Obligaciones del Cliente:
              Realizar el pago del alquiler según las condiciones establecidas.
              Conducir el vehículo de acuerdo con las leyes de tránsito y asegurarse de que solo lo manejen personas autorizadas en el contrato.
              No operar el vehículo bajo los efectos del alcohol o sustancias ilícitas.
              No utilizar el vehículo para actividades comerciales o lucrativas sin autorización.
              Mantener el vehículo en buen estado durante el periodo de renta.
              Asumir los costos por infracciones de tránsito o cualquier daño causado durante el alquiler.
              Para mayor información o detalles adicionales, consulte con nuestro personal en sucursal.</p>
          </div>
    </div>
    