.logo-image {
    width: 70px; /* Ajusta el tamaño según tus necesidades */
    height: auto;
    cursor: pointer; /* Hace que el cursor cambie al puntero al pasar sobre la imagen */
    border-radius: 50%;
  }

  .navbar-custom {
    background-color: #8B0000; /* Color rojo oscuro */
    padding: 5px 30px;
  }

  .navbar-nav .nav-item {
        margin: 10px; /* Ajusta el valor según el espacio deseado */
      } /* Ajusta el valor según el espacio deseado */

      .navbar-nav .nav-link {
        transition: background-color 0.3s, color 0.3s; /* Transición suave */
        padding: 5px 20px; /* Añadir algo de relleno para que parezca un botón */
        border-radius: 50px; /* Bordes redondeados */
      }
