<header>
<app-header></app-header>
</header>


<router-outlet></router-outlet>


<footer class="bg-dark text-white py-4">
  <div class="container">
    <div class="row">
      
      <!-- Sección de enlaces -->
      <div class="col-md-4">
        <h5>Enlaces</h5>
        <ul class="list-unstyled">
          <li><a routerLink="flota" class="text-white">Flota</a></li>
          <li><a routerLink="reservas" class="text-white">Reservas</a></li>
          <li><a routerLink="ayuda" class="text-white">Ayuda</a></li>
        </ul>
      </div>
      
      <!-- Sección de contacto -->
      <div class="col-md-4">
        <h5>Contacto</h5>
        <ul class="list-unstyled">
          <li><a href="mailto:info@matikautorent.com" class="text-white">info&#64;matikautorent.com</a></li>
          <li><a href="tel:+1234567890" class="text-white">+1 234 567 890</a></li>
        </ul>
      </div>

      <!-- Sección de redes sociales -->
      <div class="col-md-4">
        <h5>Redes Sociales</h5>
        <ul class="list-unstyled">
          <li><a href="https://facebook.com" class="text-white" target="_blank">Facebook</a></li>
          <li><a href="https://twitter.com" class="text-white" target="_blank">Twitter</a></li>
          <li><a href="https://instagram.com" class="text-white" target="_blank">Instagram</a></li>
        </ul>
      </div>
    </div>

    <div class="text-center mt-3 d-flex justify-content-center align-items-center gap-3">
      <p>&copy; 2024 Matik AutoRent. Todos los derechos reservados.</p>
      <a routerLink="terminos">Términos y Condiciones</a>
      <a routerLink="privacidad">Aviso de Privacidad</a>
    </div>
  </div>
</footer>
