<div class="dashboard-container">
    <div class="header bg-primario text-white py-2 px-4">
      <h1 class="m-0">Panel de Control</h1>
    </div>
  
    <div class="content py-4 px-4">
      <!-- Tarjetas de resumen -->
      <div class="row">
        <div class="col-md-4">
          <div class="card tarjeta">
            <div class="card-body text-center">
              <h5 class="card-title">Usuarios Registrados</h5>
              <h2 class="card-number">{{ usuariosRegistrados }}</h2>
              <a routerLink="/dashboard/usuarios" class="btn btn-acento">Ver Detalles</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card tarjeta">
            <div class="card-body text-center">
              <h5 class="card-title">Vehículos Registrados</h5>
              <h2 class="card-number">{{ vehiculosRegistrados }}</h2>
              <a routerLink="/dashboard/vehiculos" class="btn btn-acento">Ver Detalles</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card tarjeta">
            <div class="card-body text-center">
              <h5 class="card-title">Reservas Realizadas</h5>
              <h2 class="card-number">{{ reservasRealizadas }}</h2>
              <a routerLink="/dashboard/reservas" class="btn btn-acento">Ver Detalles</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  