
/* Estilo general del dashboard */
.dashboard-container {
    background-color: #FFFFFF; /* Fondo blanco */
    height: 100vh;
}
  
  .header {
    background-color: #0077A7; /* Azul primario */
    color: white;
    text-align: center;
  }
  
  .card {
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.5rem;
  }
  
  .tarjeta {
    background-color: #FFFFFF; /* Fondo blanco */
  }
  
  .card-title {
    color: #0077A7; /* Azul primario */
    font-weight: bold;
  }
  
  .card-number {
    font-size: 2.5rem;
    color: #FF7043; /* Coral */
  }
  
  .btn-acento {
    background-color: #FF7043; /* Coral */
    color: white;
    font-weight: bold;
    border: none;
  }
  
  .btn-acento:hover {
    background-color: #FF8A65; /* Coral más claro */
    color: white;
  }

