<div class="container-fluid p-0">
    <div class="hero position-relative text-center">
      <div class="hero-text position-absolute top-50 start-50 translate-middle bg-dark bg-opacity-50 p-3 rounded text-white">
        <h1 class="display-4">privacy advise </h1>
      </div>

      </div>
      <div>
        <p>
          <h1>private policie</h1>
              <p>PREPARED BY MATIK AUTORENT FOR THE PROTECTION OF THE PERSONAL DATA OF ITS CLIENTS

                Matik Autorent, with address at [specific address of Matik Autorent], informs that, in compliance with the Federal Law on Protection of Personal Data Held by Private Parties (hereinafter, the "Law"), it is responsible for the management, use and protection of your personal data. Therefore, we ensure that our clients' information will be treated with strict confidentiality. The provision of your personal data constitutes your acceptance of the terms of this privacy notice.
                
                Purposes of Personal Data Processing:
                The personal data we collect will be used for the following purposes necessary for the services you request:

               Preparation of contracts for the rental or purchase of vehicles.
                Customer identification, tracking and updating data.
                Quality evaluations and studies on consumer habits.
                Management of promotions, financial options and collections.
                Activities related to the services provided and this privacy policy.
                Types of Personal Data Processed:
                To fulfill the aforementioned purposes, we may request identification data, such as name, surname, gender, date of birth, address, CURP, landline and mobile phone number, email, as well as asset or financial data. Additionally, to guarantee security in our facilities, we could use video surveillance cameras that capture image and sound.
                
                Transfer of Personal Data:
                In accordance with article 37 section III of the Law, your personal data will not be shared with third parties without your consent, except in the following cases:


                With companies from our corporate group.
                To comply with duly substantiated legal requirements of competent authorities.
                ARCO Rights (Access, Rectification, Cancellation and Opposition):
                You have the right to access the information we have about you, request its correction if it is incorrect, outdated or incomplete, request its deletion when you consider it is not necessary for our activities, and object to the use of your data for specific purposes.
                
                To exercise your ARCO rights, you can send a request to the personal data protection area through the email contacto&#64;matikautorent.com or by accessing our platform at [Matik Autorent specific URL]. In your application, you must include:

                With companies from our corporate group.
                To comply with duly substantiated legal requirements of competent authorities.
                ARCO Rights (Access, Rectification, Cancellation and Opposition):
                You have the right to access the information we have about you, request its correction if it is incorrect, outdated or incomplete, request its deletion when you consider it is not necessary for our activities, and object to the use of your data for specific purposes .
                
                To exercise your ARCO rights, you can send a request to the personal data protection area through the email contacto&#64;matikautorent.com or by accessing our platform at [Matik Autorent specific URL]. In your application, you must include:


                Last modified date: [update date].
                
                Matik Autorent will consider that this notice has been read and accepted if it does not receive express opposition or when our services are used and personal data is provided voluntarily.</p>
          </div>
    </div>
    