<div class="container-fluid p-0">
    <div class="hero position-relative text-center">
      <div class="hero-text position-absolute top-50 start-50 translate-middle bg-dark bg-opacity-50 p-3 rounded text-white">
        <h1 class="display-4">know about our</h1>
        <p class="fs-5">terms and conditions</p>
      </div>

      </div>
      <div>
        <p>
          <h1>Terms and conditions of Matik Autorent</h1>
              <p> The indicated prices include VAT.
              
                The estimated rental amount is based on the information provided at the time of making your reservation. To pick up the vehicle, the driver must present a valid credit card with sufficient available balance, a valid driver's license and an official identification. When confirming your reservation, it will be necessary to sign the rental contract and leave a deposit charged to your credit card as a guarantee of compliance with all the conditions established in the contract.
                
                Additional services such as refueling, additional insurance (e.g. LDW), baby seats, among others, are available for your choice at the time of rental. Please consult our representatives for more details on these services.
                
                If you wish to add an additional driver, said person must be present at the time of signing the contract. In addition, you must be of legal age (charges apply if you are under 25 years old), have a current license and present an official identification to be registered as an authorized driver.
  
  
                The minimum age to rent or drive one of our vehicles is 18 years old. An additional charge will apply if the driver is between 18 and 24 years old. If the vehicle is returned after the time agreed upon in the reservation, extra charges will be applied according to the current rate for the additional time.
              
                The minimum rental is one day.
                
                The cost of the reservation includes the services specified in the confirmation document, as well as basic third-party liability coverage of up to $700,000.00 (national currency), in addition to local fees and VAT. Services and coverage not explicitly mentioned in your reservation will have an additional cost according to the current rates at the corresponding branch. Some coverages have applicable deductibles and limits.
                
                The reservation specifies the pick-up and drop-off location of the vehicle. If the customer decides to drop off the vehicle at a different location, additional charges may apply. The vehicle may not leave the limits of the national territory without the prior consent of Matik Autorent. To travel to the United States, you must obtain authorization and purchase special coverage when signing the contract. Crossing southern borders (e.g. Guatemala or Belize) is strictly prohibited.
  
  
                Payment by debit card will only be accepted in offices located at airports and when the client arrives on a flight on the same day the contract is opened. For this modality, it will be necessary to present the boarding pass and the return ticket. Additional conditions will apply in these cases.
              
                At Matik Autorent, we are pet-friendly. If you travel with pets, you can reserve a Pet Kit at our authorized branches. Please note that when returning the vehicle, you must deliver it clean; Otherwise, an additional deep cleaning fee will apply.</p>
                
                Rights and Responsibilities of the Parties
                The contracting parties agree to respect the conditions of this contract, assuming the following obligations:
              
              <h3>Obligations of MatikAutorent</h3>
              <p>Deliver the vehicle in optimal operating conditions, with enough fuel to start the trip.
                Receive the vehicle with the same level of fuel that was delivered.
                Refund the security deposit according to the terms stipulated in the contract.
                Client Obligations:
                Make the rental payment according to the established conditions.
                Drive the vehicle in accordance with traffic laws and ensure that it is only operated by persons authorized in the contract.
                Do not operate the vehicle under the influence of alcohol or illicit substances.
                Do not use the vehicle for commercial or lucrative activities without authorization.
                Keep the vehicle in good condition during the rental period.
                Assume the costs for traffic violations or any damage caused during the rental.
                For more information or additional details, consult with our staff at the branch.</p>
          </div>
    </div>
    
