<div>
  <div id="carouselExampleIndicators" class="carousel slide">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active ">
          <img src="Promociones/home_img1.jpg" class="d-block w-100" alt="home_img1">
        </div>
        <div class="carousel-item">
          <img src="https://via.placeholder.com/2000x600" class="d-block w-100" alt="promociones2">
        </div>
        <div class="carousel-item">
          <img src="https://via.placeholder.com/2000x600" class="d-block w-100" alt="promociones3">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  
  
  <!-- Título principal -->
  <h1>Matik Autorent: Tu compañero de viaje seguro.</h1>

  <p>En Matik Autorent, la seguridad es nuestra prioridad número uno. Todos nuestros vehículos son inspeccionados minuciosamente antes de cada renta para garantizar que estén en perfectas condiciones. Además, contamos con una amplia gama de seguros para que puedas viajar con total tranquilidad.</p>

  <!-- Contenedores -->
  <div class="container-wrapper">
    <div class="container ">
      <h3>¿Por qué elegirnos?</h3>
      <p>
        *Facilidad y rapidez: Reserva en línea simple y segura.
        *Flexibilidad: Alquiler por horas, días o semanas, sin contratos largos.
        *Variedad: Vehículos económicos y camionetas para cada necesidad.
        *Ubicación: Dirección exacta y horarios de atención claros.
        *Seguridad: Vehículos en óptimas condiciones con seguro incluido.
        *Precios competitivos: Ofertas y promociones destacadas.
      </p>
    </div>

    <div class="container">
      <h3>Nuestros Servicios</h3>
      <p>
        *Renta por horas: Ideal para traslados cortos o eventos especiales.
        *Renta por días: Perfecto para viajes cortos o fines de semana.
        *Renta por semanas: Opción económica para estancias más largas.
        *Extras: Ofrece servicios adicionales como GPS, sillas de bebé, etc.
        *Devolución: Explica el proceso de devolución y las condiciones.
      </p>
    </div>

    <div class="container">
      <h3>Flota de Vehículos</h3>
      <p>
        *Galería de imágenes: Muestra fotos de alta calidad de cada vehículo, incluyendo detalles como el interior, el exterior y las características principales.
        *Especificaciones técnicas: Indica el modelo, año, kilometraje, tipo de combustible, capacidad de pasajeros, etc.
        *Precios: Muestra una tabla comparativa con los precios de cada vehículo y los diferentes planes de alquiler.
      </p>
    </div>
  </div>

  
  <section class="featured-cars">
    <h2>Coches Más Destacados</h2>
    <div class="car-grid">
      <div class="car">
        <img src="https://www.bmw.com.mx/content/dam/bmw/common/all-models/3-series/sedan/2022/highlights/bmw-3-series-sedan-sp-desktop.jpg" alt="Auto 1">
        <div class="car-info">
          <h3>BMW</h3>
          <p>SERIE 3</p>
          <p class="price">$1500.00/día</p>
          <button class="btn-book">Reservar Ahora</button>
        </div>
      </div>
      <div class="car">
        <img src="https://e00-marca.uecdn.es/assets/multimedia/imagenes/2021/02/22/16139895839771.jpg" alt="Auto 2">
        <div class="car-info">
          <h3>MERCEDES-BENZ</h3>
          <p>CLASE C</p>
          <p class="price">$1600.00/día</p>
          <button class="btn-book">Reservar Ahora</button>
        </div>
      </div>
      <div class="car">
        <img src="https://images.prd.kavak.io/eyJidWNrZXQiOiJrYXZhay1pbWFnZXMiLCJrZXkiOiJpbWFnZXMvMzMzMDk5L0VYVEVSSU9SLWZyb250U2lkZVBpbG90TmVhci0xNzIzNDkxNzc0NjYwLmpwZWciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjU0MCwiaGVpZ2h0IjozMTAsImJhY2tncm91bmQiOnsiciI6MjU1LCJnIjoyNTUsImIiOjI1NSwiYWxwaGEiOjB9fX19" alt="Auto 3">
        <div class="car-info">
          <h3>AUDI</h3>
          <p>A4</p>
          <p class="price">$1550.00/día</p>
          <button class="btn-book">Reservar Ahora</button>
        </div>
      </div>
      <div class="car">
        <img src="https://images.prd.kavak.io/eyJidWNrZXQiOiJrYXZhay1pbWFnZXMiLCJrZXkiOiJpbWFnZXMvMzYzMjk5L0VYVEVSSU9SLWZyb250U2lkZVBpbG90TmVhci0xNzMyNDY4OTY1MTc5LmpwZWciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjU0MCwiaGVpZ2h0IjozMTAsImJhY2tncm91bmQiOnsiciI6MjU1LCJnIjoyNTUsImIiOjI1NSwiYWxwaGEiOjB9fX19" alt="Auto 4">
        <div class="car-info">
          <h3>TESLA</h3>
          <p>MODEL 3</p>
          <p class="price">$1800.00/día</p>
          <button class="btn-book">Reservar Ahora</button>
        </div>
      </div>
    </div>
  </section>
  