<div>
<div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="Promociones/promocion_1.jpg" class="d-block w-100" alt="promociones1">
      </div>
      <div class="carousel-item">
        <img src="Promociones/promocion_2.jpg" class="d-block w-100" alt="promociones2">
      </div>
      <div class="carousel-item">
        <img src="..." class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<div class="container-wrapper">
  <div class="container">
      <h3>Contenedor 1</h3>
      <p>¿Por qué elegirnos?
          Facilidad y rapidez: Proceso de reserva en línea simple y seguro.
          Flexibilidad: Diferentes opciones de alquiler (por horas, días, semanas), sin contratos a largo plazo.
          Variedad de vehículos: Desde autos económicos hasta camionetas, para adaptarse a todas las necesidades.
          Ubicación conveniente: Indica la dirección exacta y las horas de atención.
          Seguridad: Garantízales que los vehículos están en excelentes condiciones y que cuentan con seguro.
          Precio competitivo: Destaca tus mejores ofertas y promociones.</p>
  </div>

  <div class="container">
      <h3>Contenedor 2</h3>
      <p>Nuestros Servicios
          Renta por horas: Ideal para traslados cortos o eventos especiales.
          Renta por días: Perfecto para viajes cortos o fines de semana.
          Renta por semanas: Opción económica para estancias más largas.
          Extras: Ofrece servicios adicionales como GPS, sillas de bebé, etc.
          Devolución: Explica el proceso de devolución y las condiciones.</p>
  </div>

  <div class="container">
      <h3>Contenedor 3</h3>
      <p>Flota de Vehículos
          Galería de imágenes: Muestra fotos de alta calidad de cada vehículo, incluyendo detalles como el interior, el exterior y las características principales.
          Especificaciones técnicas: Indica el modelo, año, kilometraje, tipo de combustible, capacidad de pasajeros, etc.
          Precios: Muestra una tabla comparativa con los precios de cada vehículo y los diferentes planes de alquiler.</p>
  </div>
</div>