
body {
    background-color: #B8B6B3 ;
    font-family: Arial, sans-serif;
    background-image: url('/logo_matik_autorent.png');
        margin: 0; /* Elimina el espacio por defecto */
        background-position: left; /* Centra la imagen */
        background-repeat: no-repeat; /* Evita que se repita */
      
  }

  .btn-sesion {
    display: inline-block;
    background-color: #0077a7;
    border-radius: 20px;
    padding: px 15px;
    font-size: 14px;
  }

  .btn-sesion:hover {
    background-color: #0077a7;
  }

  .form-control:focus {
    border-color: #0077a7;
    box-shadow: 0 0 5px rgba(38, 0, 255, 0.5);
  }